@charset "UTF-8";

@font-face
{
    font-family: "rm-r";
    src: url("fonts/ff2.ttf") format("truetype");
}

@font-face
{
    font-family: "rm-l";
    src: url("fonts/ff1.ttf") format("truetype");
}

@font-face
{
    font-family: "rm-b";
    src: url("fonts/ff3.ttf") format("truetype");
}

html
{
    height: 100%;
    width: 100%;
}

body
{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "rm-r";
    font-size: 0;
}

.vid-container
{
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    overflow: hidden;
    opacity: 0;
}

.video
{
    margin-top: 50px;
    width: 1px;
    height: 1px;
}

.image
{
    height: 100%;
}

.wide
{
    height: auto;
    width: 100%;
}

.hidden
{
    width: 0;
    height: 0;
    display: none;
}

.link-template
{
    height: 50px;
}

.link-template span
{
    display: inline-block;
    font-size: 30px;
}

.link-template-text
{
    height: 50px;
}

.imgur-colour
{
    color: #1bb76e;
    border-color: #1bb76e;
}

.youtube-colour
{
    color: #cc181e;
    border-color: #cc181e;
}

.other-colour
{
    color: #aeaeae;
    border-color: #aeaeae;
}

.link-input
{
    min-width: 80px;
    border-bottom: 2px solid;
}

.link-input:focus
{
    outline: none;
}